@media screen and (max-width: 1280px) {
    #header {
        padding: 0 0 0 0;
    }
}

#header h1 {
    display: none;
}

#header {
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
}

#banner h1 {
    font-size: 4em;
    padding-top: 1.5em;
}

.wrapper {
    margin-top: 3em;
}