p {
    margin-bottom: 1em;
}



#header h1 {
/*    display: none; */
}

#header {
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
}

#banner {
    margin-top: 10em;
}

.wrapper-home {
    margin-top: 3em; 
}

.wrapper {
    margin-top: 10em;
}

.course-summary {
    float: left;
    text-align: left;
    width: 66%;
    padding: 3px 12px 3px 3px;
}

p.course-length {
    width: 33%;
    float: right;
    text-align: right;
    padding: 3px 3px 3px 6px;
}

input {
    float: left;
    margin-right: 10px;
    -webkit-appearance: checkbox;

}

@media screen and (max-width: 1280px) {
    #header {
     /*   padding: 0 0 0 0; */
    }
}

@media screen and (max-width: 840px) {

    #navPanel .link {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #banner {
        margin-top: 0;
    }
}